:root{
  --text-RedHatDisplay: @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
  --text-Poppins: @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  --text-color-secondary: #313131;
  --border-color-box: #79747e;
  --text-color-box:#1c1b1f;
  --btn-color:#3869eb;
  --text-color-button:#f3f3f3;
}
body{
  margin:0;
  padding:0;
}

.container{
  margin: 20px 150px;
}
.Login{
  width: 1000px;
  position: absolute;
  left:300px;
  top: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.Sing-Up{
  width: 1000px;
  position: absolute;
  left:100px;
  top: 100px;
  display: grid;
  grid-template-columns: 70% 30%;
}
.Sing-Up div:last-child{
  width: 500px;
}
.logo-principal{
  color: #000;
  font-weight: bold;
  font-family: var(--text-RedHatDisplay);
  font-size: 40px;
  position: absolute;
  left: 48.5px;
  display: flex;
  align-items: center;
}
.LogoInSingup{
  position: absolute;
  left: 1100.1px;
  top: 50.67px;
  display: flex;
  align-items: center;
}
.Title-principal h1{
  font-family: var(--text-Poppins);
  font-size: 30px;
}
.Title-principal p{
  font-family: var(--text-Poppins);
  color: var(--text-color-secondary);
}
.Container-Box{
  display: flex;
  flex-direction: column;
}
.Container-Box label{
  color: var(--text-color-box);
  font-family: var(--text-Poppins);
  font-size: 15px;
}
.Container-Box input{
  border: var(--border-color-box);
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}
.Direction{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn button{
  background-color:var(--btn-color);
  color: var(--text-color-button);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.ofLogintosingup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons{
 display: flex;
 justify-content: space-evenly;
}
.top-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-icons img svg{
  color: var(--text-color-secondary);
}
.Container-Box-1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.Container-Box-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Container-Box-3{
  display: flex;
  flex-direction: column;
}