
.color {
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 24px;
  background-color: blueviolet;
  color: white;
  text-decoration: none; 
  border: blueviolet;
}
.sincolor {
  border-radius: 10px;
  font-size: 24px;
  padding: 10px 15px;
  background-color: transparent;
  color: black;
  text-decoration: none; 
  border: 2px solid black;
}
.pokemon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 20px 5px;
}
.videos{
  width: 300px 300px;
  height: 300px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one{
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px;
}
.two{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px;
}
.three{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px;
}



